@url: 'https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic';

@link-color: #f6a03a;
@link-color-hover: lighten(@link-color, 50%);

.navbar-default {
  border: none;
  margin-bottom: 0;

  .container-fluid {
    background-color: white;
  }
}

.bg-grey{
  background-color: #37454d;
}
.travel-log {
  font-size: 11px;
}
#footer {
  background-color: #ebeced;
}

.recommend-trips {
  font-size: 11px;

  .glyphicon-heart .likes {
    color: #F47A6B;
  }
}

.hotel-collection-result {
  padding: 15px 0;

  height: 520px;
  overflow: hidden;

  &:after,
  &:before {
    content: " ";
    display: table;
    clear: both;
  }
}

.hotel-slot {
  background-color: #37464D;
  padding: 15px 0;
}

.rating div {
  border-radius: 3px;
}

.navbar .slogan {
  font-size: 16px;
  font-weight: bold;
  color: #0279AD;
}

.total-box {
  color: white;
  background-color: #37464D;
  text-align: center;
  padding: 30px 0;
  position: relative;

  p {
    line-height: 1.01em;
  }

  .total-text {
    font-size: 14px;
  }

  .total-price,
  .total-nights {
    font-size: 24px;
    font-weight: bold;
  }

  .btn-success {
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.55);
    background-color: #66A401;
    width: 140px;
  }

  .price-suggest {
    position: absolute;
    top:-30px;
    padding:10px;
    background-color: #FFFFFF;
    border:1px solid rgba(0,0,0, 0.8);
    color: #494949;
    border-radius: 5px;
    width:200px;
    display: none;

    .active {
      display: block !important;
    }
  }

  #savePriceText {
    text-align: left;
  }

}