@url: 'https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic';

@link-color: #f6a03a;
@link-color-hover: lighten(@link-color, 50%);

.navbar-default {
  border: none;
  margin-bottom: 0;

  .container-fluid {
    background-color: white;
  }
}

.travel-log {
  font-size: 11px;
}

.recommend-trips {
  font-size: 11px;

  .glyphicon-heart .likes {
    color: #F47A6B;
  }
}

.hotel-collection-result {
  background-color: #EBECEE;
  padding: 15px 0;
}

.hotel-slot {
  background-color: #37464D;
  padding: 15px 0;
}