.tile {
  width: 200px;
  height: 200px;

  display: flex !important;
  flex-direction: column;
  justify-content: center;

  background-size: 200px 200px;
  pointer-events: none;

  &.is-empty,
  &.is-active,
  &.slick-current {
    pointer-events: all;
  }

  .part1,
  .part2 {
    display: none !important;
  }

  h6 {
    color: #fff;
    margin: 0;
    text-align: center;
  }

  input,
  h4,
  h5 {
    text-align: center;
    color: white;
    width: 100%;
    font-weight: bold;
  }

  input,
  h4 {
    font-size: 32px;
  }

  input[name="nights"],
  h5 {
    font-size: 24px;
  }

  h6 {
    margin-top: 10px;
    padding: 0 10px;
  }

  .night-wrapper {
    position: relative;
    width: 50px;

    input {
      position: absolute;
      top: 6px;
    }
  }


  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-between {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .glyphicon {
    color: #fff;
  }

  button,
  input {
    border: none;
    border-color: transparent;
    background-color: transparent;
  }

  [name="nights"] {
    width: 40px;
  }

  .input-wrapper {
    position: relative;

    .icon-pencil {
      position: absolute;
      display: none;
      right: 8px;
      top: 12px;
    }

    &.is-empty {
      padding-right: 40px;
      padding-left: 10px;

      .icon-pencil {
        display: block;
      }
    }
  }

  .content-active {
    display: none;
  }

  .content-add {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 100%;

    [data-role="activate"] {
      font-size: 80px;
    }
  }

  &.is-active {

    .content-active {
      display: block;
    }

    .content-add {
      display: none;
    }
  }

  .rating-row {
    justify-content: center;

    h4 {
      width: auto;
      margin-left: 20px;
    }
  }

  &.slick-current {
      .part1,
      .part2 {
        display: flex !important;
      }
  }

}
